* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f6f8fc;
  color: rgb(21, 20, 20);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.logo {
  font-size: 1.6rem;
  font-weight: 600;
  color: #0077ff;
}
.logo span {
  color: #00c1a2;
}

nav button {
  margin-left: 12px;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.95rem;
  transition: 0.3s ease;
}

.btn-primary {
  background: #0077ff;
  color: #fff;
  border: none;
}
.btn-primary:hover {
  background: #005fcc;
}

.btn-outline {
  background: transparent;
  color: #0077ff;
  border: 1.5px solid #0077ff;
}
.btn-outline:hover {
  background: #0077ff;
  color: #fff;
}

/* Hero Section */
.hero {
  text-align: center;
  margin-top: 80px;
  padding: 0 20px;
}

.hero h1 {
  font-size: 2.8rem;
  font-weight: 700;
  color: #111;
  margin-bottom: 15px;
}

.hero p {
  font-size: 1.05rem;
  color: #555;
  max-width: 600px;
  margin: 0 auto 30px;
}

.hero-buttons {
  margin-bottom: 50px;
}

.hero-buttons button {
  margin: 0 10px;
  padding: 10px 24px;
}
.btn-primary {
  background: #0077ff;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 24px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s ease;
}

.btn-primary:hover {
  background: #005fcc;
}

.btn-outline {
  background: transparent;
  color: #0077ff;
  border: 1.5px solid #0077ff;
  border-radius: 25px;
  padding: 10px 24px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.btn-outline:hover {
  background: #0077ff;
  color: white;
}


/* Features */
.features {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  flex-wrap: nowrap; 
  max-width: 1200px;
  margin: 50px auto;
  padding: 0 20px;
}

.features div {
  background: #93c2eb;
  padding: 25px 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.915);
  transition: transform 0.3s ease;
}
.features div:hover {
  transform: translateY(-10px);
}

.features h3 {
  color: #0a6be2;
  margin-bottom: 8px;
}
.features p {
  color: black;
}

/* Footer */
footer {
  text-align: center;
  margin-top: auto;
  padding: 15px;
  font-size: 0.9rem;
  color: #666;
  background: #f0f4ff;
}
